.view-employees-container {
    display: flex;
    height: 100vh;
}

.employees-table-container {
    margin-top: 100px;
    margin-left: 280px;
    padding: 20px;
    width: 87%;
    overflow-x: auto; /* Allows horizontal scrolling if table is too wide */
}

.employees-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.employees-table th, .employees-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.employees-table-container h2 {
    color: #333; /* Dark grey color for the text */
    text-align: center; /* Center-align the heading */
    margin-bottom: 20px; /* Space between the heading and the table */
}

.employees-table th {
    background-color: #4CAF50;
    color: white;
}

.employees-table td button {
    padding: 6px 6px;
    margin-top: 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 6px;
    width: 40px;
    transition: background-color 0.2s;
}

.employees-table td button:hover {
    background-color: blue; /* Blue to indicate interactivity on hover */
}

@media (max-width: 768px) {
    .employees-table-container {
        margin-left: 0;
        width: 100%;
    }
}
