.domain-card {
    margin-top: 90px;
    max-width: 900px;
    margin-left: 380px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.domain-card h2 {
    color: #333;
}

.domain-card p {
    color: #666;
}

.domain-actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.main-content {
    margin-left: 260px; 
    padding: 20px;
    transition: margin-left 0.5s; 
}

/* Styling actions for domain-specific operations */
.action-btn-edit {  
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #4CAF50; /* Green for edit */
}
.action-btn-student { 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #2196F3; /* Blue for viewing students */
}
.action-btn-course {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #FFC107; /* Yellow for viewing courses */
}
.action-btn-timetable { 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #9C27B0; /* Purple for timetable */
}

@media (max-width: 768px) {
    .domain-card, .domain-actions {
        margin-left: 0;
        max-width: 100%;
    }
    .action-btn {
        width: 90%; /* Full width buttons on smaller screens */
    }
}
